{% extends "inicio/encabezado.html"%} 


{% block contenido %}
<title>{% block titulo %}Contacto {% endblock %}</title>


<h2>Contacto</h2>
    <p>Nombre: <input type="text" name="nombre"/></p>
    <p>Correo: <input type="text" name="correo"/></p>
    <p>Comentarios:</p> <p> <textarea cols="50" rows="10"></textarea></p>
    <p>Cursos:
        <select name="Cursos">
            <option>Python basico</option>
            <option>Python no tan basico</option>
            <option>Base de datos para python</option>
            <option>Matematicas para python</option>
            <option>Python</option>
    
    <input type="radio" name="turno" value="matutino">Matutino
    <input type="radio" name="turno" value="vespertino">Vespertino

    <p><input type="Button" name="enviar" value="Enviar"/> </p>



{%endblock%}
